{{#> _layout/static title="Pertanyaan Umum" class="faq" activeFaq=true }}
{{#*inline "content"}}

<h1>Pertanyaan Umum</h1>

<h2>Tentang <a href="https://upload.kawalpemilu.org">upload.kawalpemilu.org</a></h2>

<ul>
    <li>
        <p><strong>Apakah saya hanya boleh mengawal TPS dimana saya nyoblos?</strong></p>

        <p>Nggak juga. Misalnya di rumah ada 5 orang yang nyoblos di TPS yang sama, bisa
            disebar untuk ambil foto dan upload di 5 TPS yang berbeda. Tapi setidaknya
            bisa #PantauFotoUpload di TPS domisili.</p>
    </li>
    <li>
        <p><strong>Bolehkah saya hanya upload foto C1 Pilpres?</strong></p>

        <p>Boleh. Mau Pilpres (istilahnya di formulir: PPWP) saja boleh, mau Pilpres DPR
            DPRD sampai DPD pun boleh.</p>
    </li>
    <li>
        <p><strong>Bolehkah saya posting foto C1-nya di Facebook / WA / Twitter saya saja?</strong></p>

        <p>Silakan kalau mau posting di medsos masing-masing dengan hestek
            <code>#PantauFotoUpload</code>. Tapi kalau kamu upload fotonya ke situs
            upload.kawalpemilu.org, kamu sudah mengawal TPS kamu satu langkah lebih maju
            karena angka di foto itu dihitung sampai tingkat nasional sebagai pembanding
            data KPU.</p>
    </li>
    <li>
        <p><strong>Bolehkah saya posting foto C1 PLANO yang belum ditandatangan?</strong></p>

        <p>Kalau kamu yakin penghitungan sudah selesai, silakan kalau mau foto dan
            upload walaupun belum ditandatangan. Tapi pastikan nomor TPS dan
            kelurahan/kecamatan/kabupatennya sudah ditulis dan angka-angkanya sudah
            dijumlahkan.</p>
    </li>
    <li>
        <p><strong>Bolehkah saya upload foto yang diambil oleh orang lain?</strong></p>

        <p>Silakan, terutama kalau teman kamu tidak punya Facebook login. Bisa kumpulkan
            fotonya di kamu lalu kamu upload satu persatu.</p>
    </li>
    <li>
        <p><strong>Kok perlu fotonya banyak banget?</strong></p>

        <p>Karena Pemilu kita kali ini serentak. Karenanya ada 2 lembar C1 PLANO untuk
            Pilpres (atau PPWP) dan 18 lembar untuk DPR RI.</p>
    </li>
    <li>
        <p><strong>Bolehkah saya upload foto catatan hitungan saya sendiri?</strong></p>

        <p>Catatan sendiri sulit dibuktikan keasliannya. Karenanya kami mengajak warga
            untuk mengambil foto formulir C1, terutama plano, yang sulit dipalsukan.</p>
    </li>
</ul>

<h2>Tentang kesulitan yang mungkin dihadapi</h2>

<ul>
    <li>
        <p><strong>Kalau saya kesulitan upload ke situs di hari H, kemana saya mesti melapor?</strong></p>

        <p>Bisa kirim fotonya via e-mail ke <a
                href="&#x6D;&#97;&#x69;&#108;&#x74;&#111;:&#107;&#x61;&#x77;&#97;&#108;&#x70;&#101;m&#x69;&#x6C;&#x75;&#x32;0&#x31;&#x39;&#64;&#x67;&#x6D;&#x61;&#105;&#x6C;&#x2E;&#99;&#111;&#x6D;">&#107;&#x61;&#x77;&#97;&#108;&#x70;&#101;m&#x69;&#x6C;&#x75;&#x32;0&#x31;&#x39;&#64;&#x67;&#x6D;&#x61;&#105;&#x6C;&#x2E;&#99;&#111;&#x6D;</a>,
            kirim direct
            message di Facebook fanpage kami <a href="https://m.me/kawalpemilu.org">https://m.me/kawalpemilu.org</a>,
            atau Twitter
            <a href="https://twitter.com/kawalpemilu2019">@KawalPemilu2019</a>.</p>

        <p>Posting fotonya di timeline Facebook atau Twitter kamu dengan hestek
            <code>#PantauFotoUpload</code>. Pastikan privacy setting di medsos kamu "public".</p>
    </li>
    <li>
        <p><strong>Kalau saya kehabisan waktu untuk mengambil foto C1 PLANO bagaimana?</strong></p>

        <p>Keesokan harinya, kamu bisa mengambil fotonya di Kantor Lurah / Desa. Salinan
            C1 dari semua TPS yang ada di kelurahan tersebut harus sudah ditempelkan
            untuk dilihat warga.</p>
    </li>
    <li>
        <p><strong>Penghitungan suaranya lama sekali, saya ngantuk ...</strong></p>

        <p>Memang diperkirakan berlangsung sampai malam. Kalau tidak bisa menunggu, bisa
            datang ke Kantor Lurah / Desa keesokan harinya untuk mengambil foto salinan
            formulir C1.</p>
    </li>
</ul>

<h2>Tentang Facebook</h2>

<ul>
    <li>
        <p><strong>Wah, saya lupa password FB! Gimana dong?</strong></p>

        <p>Coba ganti password Anda.</p>
    </li>
    <li>
        <p><strong>Bagaimana kalau saya nggak punya akun FB?</strong></p>

        <p>Anda bisa upload fotonya ke sosmed (buat setting nya “public”) dengan hestek
            <code>#PantauFotoUpload</code> lalu tag Twitter
            <a href="https://twitter.com/kawalpemilu2019">@KawalPemilu2019</a> atau Facebook
            <a href="https://www.facebook.com/kawalpemilu.org">@kawalpemilu.org</a></p>
    </li>
</ul>

{{/inline}}
{{/_layout/static}}
