<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>KawalPemilu - Jaga Suara 2019</title>
    {{> _layout/head-social.hbs }}
    {{> _layout/head-ga.hbs }}
</head>

<body>

    {{> _layout/body-header.hbs }}

    <main class="tabulasi">
        <h1>Hasil Tabulasi Data <span class="nowrap">Kawal Pemilu 2019</span></h1>
        <p>Halaman ini berisi hasil tabulasi dari data yang sudah masuk ke
            <a target="_blank" href="https://upload.kawalpemilu.org">upload.kawalpemilu.org</a>.</p>

        <p>Data TPS kamu belum ada? Segera upload ke
            <a target="_blank" href="https://upload.kawalpemilu.org">upload.kawalpemilu.org</a>!
        </p>

        <div id="navigasi"></div>
        <div id="tps" class="table"></div>

    </main>

    {{> _layout/body-footer.hbs }}

</body>

</html>