<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>KawalPemilu - Jaga Suara 2019</title>
    {{> _layout/head-social.hbs }}
    {{> _layout/head-ga.hbs }}
</head>

<body>

    {{> _layout/body-header.hbs }}

    {{> _layout/body-footer.hbs }}

</body>

</html>