{{#> _layout/static title="Kontak" class="kontak" }}
{{#*inline "content"}}

<h1>Kontak Kami</h1>

<ul>
<li><p>Facebook: <a href="https://m.me/kawalpemilu.org">https://m.me/kawalpemilu.org</a></p></li>
<li><p>Twitter: <a href="https://mobile.twitter.com/messages/compose?recipient_id=2648297252">@kawalpemilu2019</a></p></li>
<li><p>WhatsApp: <a href="https://wa.me/6281180103636">0811 8010 3636</a></p></li>
</ul>

{{/inline}}
{{/_layout/static}}