@import "sizes";

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  min-width: 320px;
}

body,
html,
table,
th,
td {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0px;
  font-size: 32px;

  @media #{$phone-small} {
    font-size: 20px;
  }
  @media #{$phone-wide} {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

/** part:header **/

header {
  background: #607d8b;
  margin: 0px;

  a {
    display: flex;
    color: white;
    background-image: url(https://upload.kawalpemilu.org/assets/logo/android-icon-72x72.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-decoration: none;
    height: 60px;
    padding: 0 10px 0 90px;
    box-sizing: border-box;
    align-items: center;
  }

  a:hover {
    text-decoration: none;
  }
}

@media (min-width: 551px) {
  header {
    a {
      font-size: 26px;
    }
  }
}

@media (max-width: 550px) {
  header {
    a {
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

/** part:footer **/

footer {
  background: #37474f;
  height: 20px;
  display: block;
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}

nav {
  background: #37474f;
  color: white;
  font-size: 14px;

  a {
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    display: inline-block;
  }
}

@media (min-width: 721px) {
  nav.bottom {
    display: none;
  }
}

@media (max-width: 720px) {
  nav {
    text-align: center;

    a.bottom {
      display: none;
    }

    a {
      padding: 7px 5px;
    }
  }
}

nav {
  a:hover {
    background: #62727b;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0px;

    li {
      display: inline;
    }
  }
}

nav.bottom {
  text-align: center;
}

nav {
  a {
    span {
      @media #{$phone-wide} {
        &.w1 {
          display: none;
        }
      }
      @media (min-width: 411px) and (max-width: 720px) {
        &.w1 {
          display: none;
        }
      }
      @media (min-width: 361px) and (max-width: 410px) {
        &.w1,
        &.w2 {
          display: none;
        }
      }
      @media (max-width: 360px) {
        &.w1,
        &.w2,
        &.w3 {
          display: none;
        }
      }
    }
  }
}

/** part:main **/

main {
  flex: 1;
  padding-top: 25px;
  padding-bottom: 25px;

  @media #{$phone} {
    padding: 10px 0;
  }
  @media #{$tablet} {
    padding: 10px 0;
  }

  ul.lampiran {
    margin-left: 25px;
  }
}

main > * {
  padding-left: 25px;
  padding-right: 25px;

  @media #{$tablet} {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media #{$phone} {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media #{$phone} {
  main > .table {
    padding-left: 0px;
    padding-right: 0px;
  }
}
