{{#> _layout/static title="Kebijakan Privasi" name="privasi" }}
{{#*inline "content"}}

<h1>Kebijakan Privasi</h1>

<p>Berikut ini kebijakan privasi yang dipakai oleh Kawal Pemilu dalam menggunakan
    dan melindungi data pribadi Anda.</p>

<ol>
    <li>
        <p>Kawal Pemilu mewajibkan seluruh relawan dan moderator memiliki akun Facebook
            dengan profil yang jelas untuk memastikan tidak adanya relawan dan moderator
            yang fiktif.</p>
    </li>
    <li>
        <p>Seluruh relawan dan moderator wajib masuk kedalam akun Facebook terlebih
            dahulu saat mengakses laman Kawal Pemilu.</p>
    </li>
    <li>
        <p>Moderator dapat mengakses profil Facebook milik relawan guna melakukan
            validasi dari masing-masing relawan. Hak akses ke halaman profil akan selalu
            dibatasi oleh Facebook berdasarkan hubungan pertemanan dan pengaturan siapa
            yang bisa mengakses profil.</p>
    </li>
    <li>
        <p>Seluruh data profil relawan dan moderator tidak dapat disebarkan oleh Kawal
            Pemilu kepada pihak lain.</p>
    </li>
    <li>
        <p>Kawal Pemilu dalam mengelola akun milik relawan dan moderator mengikuti
            ketentuan layanan dan keamanan dari Facebook.</p>
    </li>
</ol>

<p>Perbedaan antara relawan dan moderator dapat dibaca pada halaman
    <a href="/jenis-peran-pengunjung/">Jenis/Peran Pengunjung</a>.</p>

{{/inline}}
{{/_layout/static}}
