$phone-small: "only screen and (max-width: 370px)";
$phone-wide: "only screen and (min-width: 371px) and (max-width: 620px)";
$phone: "only screen and (max-width: 620px)";
$tablet: "only screen and (min-width: 621px) and (max-width: 1000px)";

$mobile: "only screen and (max-width: 1000px)";
$desktop: "only screen and (min-width: 1001px)";
