$phone-small: "only screen and (max-width: 400px)";
$phone-wide: "only screen and (min-width: 401px) and (max-width: 760px)";
$phone: "only screen and (max-width: 760px)";
$tablet: "only screen and (min-width: 761px) and (max-width: 1000px)";

$mobile: "only screen and (max-width: 1000px)";
$desktop: "only screen and (min-width: 1001px)";
