main.static {
  line-height: 30px;
  max-width: 950px;

  ul {
    margin-left: 25px;
  }

  &.faq {
    h2 {
      margin-bottom: 0px;
    }
    ul {
      margin-left: 0;
      li {
        list-style: none;

        > p {
          margin: 0;
        }
        > p:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  &.roles {
    > ol > li {
      list-style: none;

      ul {
        padding-left: 20px;
      }
    }
  }

  &.privasi {
    > ol > li {
      margin-left: 20px;
    }
  }

  &.kontak {
    ul {
      margin-left: 0;
      li {
        list-style: none;
      }
    }
  }
}
