{{#> _layout/static title="Visualisasi Data" name="visualisasi" }}
{{#*inline "content"}}

<h1>Visualisasi Data</h1>

<p>Untuk melihat hasil visualisasi data yang
    <a href="https://kawalpemilu.org">sedang dikumpulkan oleh Kawal Pemilu</a>,
    silakan kunjungi tautan berikut ini.</p>

<p><strong>PERHATIAN</strong> Data yang berhasil dikumpulkan sampai saat ini masih sangat kecil
    dan belum dapat disebut data yang representatif. Silakan gunakan hasil
    visualisasi dengan cermat dan bijak.</p>

<p><strong>PERHATIAN #2</strong> Data yang digunakan untuk visualisasi belum tentu data yang
    paling mutakhir yang dapat dilihat pada <a href="https://kawalpemilu.org">kawalpemilu.org</a>.
    Ada keterlambatan 30+ menit dibanding data yang disajikan pada
    <a href="https://kawalpemilu.org">kawalpemilu.org</a>.</p>

<ul>
    <li><a href="https://wibisono.github.io/kpviz/cakupan/?utm_source=wwwkp">Perkembangan Proses Data Masuk</a></li>
    <li><a href="http://tenrio.la/cakupantps?utm_source=wwwkp">Cakupan TPS</a></li>
    <li><a href="http://tenrio.la/cakupantpsdetil?utm_source=wwwkp">Cakupan TPS per Provinsi</a></li>
    <li><a href="http://tenrio.la/suratsuarapilpres?utm_source=wwwkp">Surat Suara Pilpres</a></li>
    <li><a href="http://tenrio.la/pilpres?utm_source=wwwkp">Hasil Sementara Real Count Pilpres</a></li>
    <li><a href="http://tenrio.la/pilpresdetil?utm_source=wwwkp">Hasil Sementara Real Count Pilpres per Provinsi</a>
    </li>
    <li><a href="http://tenrio.la/suratsuarapilegdpr?utm_source=wwwkp">Surat Suara Pileg DPR</a></li>
    <li><a href="http://tenrio.la/pilegdpr?utm_source=wwwkp">Hasil Sementara Real Count Pileg DPR per Partai</a></li>
</ul>

{{/inline}}
{{/_layout/static}}
