@import "../sizes";

#agg {
  overflow-x: auto;

  ul {
    display: table;
    border-collapse: collapse;

    margin: 0px;
    padding: 0px;

    @media #{$phone} {
      min-width: 100%;
    }
    @media #{$tablet} {
      min-width: 100%;
    }

    li {
      padding: 0px;
      display: table-row;
      line-height: 24px;

      @media #{$phone} {
        line-height: 24px;
        font-size: 14px;
      }

      &.header p {
        font-weight: bold;
        text-align: center !important;
      }

      > p {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;

        &.idx {
          text-align: center;
          @media #{$phone} {
            display: none;
          }
        }

        &.sum {
          text-align: right;
        }
        &.summary {
        }
        &.tps {
          padding-left: 15px;

          &.kpu {
            text-align: right;
          }

          &.estimasi {
            text-align: center;
            span {
              display: inline-block;
              width: 100%;
              padding: 2px 0;
              box-sizing: border-box;
              font-size: 12px;

              @media #{$phone} {
                padding: 2px 5px;
              }
              @media #{$tablet} {
                padding: 2px 5px;
              }
            }
            @media #{$desktop} {
              width: 70px;
            }
          }
        }
      }
      > p:last-child {
        padding-right: 15px;
        @media #{$phone} {
          padding-right: 5px;
        }
      }
    }

    li:nth-child(odd) {
      background: white;
      > p.darken {
        background: darken($color: white, $amount: 5%);
      }
    }
    li:nth-child(even) {
      background: #eceff1;
      > p.darken {
        background: darken($color: #eceff1, $amount: 5%);
      }
    }

    &.dup {
      display: none;

      &.sticky {
        &.header {
          display: block;
          position: fixed;
          top: 0px;
          box-shadow: 0px 0px 10px #aaa;
          padding: 0 25px;
          margin-left: -25px;
          width: 100%;
          z-index: 100;
        }
        &.column {
          display: block;
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 50;
        }
      }
    }
  }

  &.pilpres {
    ul li p.tps {
      padding-right: 0;
      @media #{$phone} {
        padding-right: 5px;
      }
    }
  }
  &.pileg {
    overflow-x: auto;
    ul {
      li p {
        border-right: 1px solid white;
        padding-left: 10px;
        padding-right: 10px;
      }
      li.row p {
        &.sum {
          font-size: 14px;
        }
      }
    }
  }
}
