@import "../sizes";

#agg {
  overflow-x: auto;

  ul {
    display: table;
    border-collapse: collapse;

    margin: 0px;
    padding: 0px;

    @media #{$phone} {
      min-width: 100%;
    }
    @media #{$tablet} {
      min-width: 100%;
    }

    &.dup {
      display: none;

      &.sticky {
        display: block;
        position: fixed;
        top: 0;
      }
    }

    li {
      padding: 0px;
      display: table-row;
      line-height: 24px;

      @media #{$phone} {
        line-height: 24px;
        font-size: 14px;
      }

      &.header p {
        font-weight: bold;
      }
      &.header.sticky {
        position: fixed;
        top: 0;
      }

      > p {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        box-sizing: border-box;

        &.idx {
          text-align: center;
          width: 30px;

          @media #{$phone} {
            display: none;
          }
        }

        &.name {
          @media #{$phone} {
            padding-left: 5px;
          }
          // @media #{$phone-small} {
          //   width: 125px;
          // }
          // @media #{$phone-wide} {
          //   width: 170px;
          // }
        }

        &.sum {
          text-align: right;
          padding-left: 15px;
        }
        &.summary {
        }
        &.tps {
          padding-left: 15px;

          &.estimasi {
            text-align: center;
            span {
              display: inline-block;
              width: 100%;
              padding: 2px 0;
              box-sizing: border-box;
              font-size: 12px;

              @media #{$phone} {
                padding: 2px 5px;
              }
              @media #{$tablet} {
                padding: 2px 5px;
              }
            }
            @media #{$desktop} {
              width: 70px;
            }
          }
        }
      }
      > p:last-child {
        @media #{$phone} {
          padding-right: 5px;
        }
      }
    }

    li:nth-child(odd) {
      background: white;
    }
    li:nth-child(even) {
      background: #eceff1;
    }
  }
}
