$phone-small: "only screen and (max-width: 400px)";
$phone-wide: "only screen and (min-width: 401px) and (max-width: 760px)";
$phone: "only screen and (max-width: 760px)";
$tablet: "only screen and (min-width: 761px) and (max-width: 1000px)";
$desktop: "only screen and (min-width: 1001px)";

#navigasi {
  span.nav {
    white-space: nowrap;
  }
  span.sep {
    padding-left: 5px;
    padding-right: 5px;
  }
}

#agg {
  overflow-x: scroll;

  ul {
    display: table;
    border-collapse: collapse;

    margin: 0px;
    padding: 0px;

    @media #{$phone} {
      min-width: 100%;
    }
    @media #{$tablet} {
      min-width: 100%;
    }

    li {
      padding: 0px;
      display: table-row;
      line-height: 24px;

      @media #{$phone} {
        line-height: 24px;
      }

      &.header p {
        font-weight: bold;
      }

      > p {
        display: table-cell;
        vertical-align: middle;
        height: 50px;

        &.idx {
          text-align: center;
          width: 30px;

          @media #{$phone} {
            display: none;
          }
        }

        &.name {
          @media #{$phone} {
            padding-left: 5px;
          }
          // @media #{$phone-small} {
          //   width: 125px;
          // }
          // @media #{$phone-wide} {
          //   width: 170px;
          // }
        }

        &.sum {
          text-align: right;
          padding-left: 20px;
        }
        &.summary {
        }
        &.tps {
          padding-left: 20px;

          &.estimasi {
            text-align: center;
            span {
              display: inline-block;
              width: 100%;
              padding: 5px 10px;
              box-sizing: border-box;
              font-size: 14px;
            }
          }
        }
      }
      > p:last-child {
        @media #{$phone} {
          padding-right: 5px;
        }
      }
    }

    li:nth-child(odd) {
      background: white;
    }
    li:nth-child(even) {
      background: #eceff1;
    }
  }
}

#tps {
  margin-top: 20px;

  div.tps {
    display: flex;
    flex-direction: row;
    min-height: 120px;
    border-top: 1px solid #ccc;
    padding: 10px 0;

    > * {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    div.info {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-right: 10px;
      width: 60px;

      display: flex;

      p {
        margin: 0px;
      }
      p.tpsNo {
        font-size: 16px;
        font-weight: bold;
      }
      p.mod {
        font-size: 12px;
        margin-top: 10px;
      }
    }

    div.sum {
      min-width: 120px;
      max-width: 200px;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      justify-content: center;

      p.nodata {
        font-style: italic;
        font-size: 12px;
        text-align: center;
        margin: 0px;

        a {
          text-decoration: underline;
        }
      }

      div.values {
        flex: 1;

        ul {
          padding: 0px;
          margin: 0px;

          li {
            list-style: none;
            font-size: 12px;
            line-height: 25px;

            span {
              display: inline-block;
            }
          }
        }
        ul.summary {
          margin-top: 5px;
        }

        ul.pilpres {
          display: table;

          li {
            display: table-row;

            span {
              display: table-cell;
            }
            span.label {
              padding-right: 10px;
              font-weight: bold;
            }
            span.value {
              text-align: right;
            }
          }
        }
        ul.pileg {
          display: flex;
          flex-flow: row wrap;

          li {
            display: flex;
            margin-right: 15px;

            span.label {
              font-weight: bold;
              width: 60px;
            }
            span.value {
              width: 25px;
              text-align: right;
            }
          }
        }
      }

      p.lapor {
        margin: 10px 0 0 0;
        font-size: 12px;
        text-align: center;
      }
    }

    div.photos {
      flex: 1;

      display: flex;
      overflow-x: auto;

      div.photo {
        padding-right: 10px;
        background: white;

        p {
          margin: 0;
          text-align: center;
          border: 1px solid #ccc;
          padding: 2px;
        }
        ul.detail {
          margin: 0px;
          padding: 0px;
          display: table;
          font-size: 12px;
          li {
            list-style: none;
            display: table-row;
            line-height: 20px;
            span {
              display: table-cell;
            }
            span.label {
              font-weight: bold;
              padding-right: 10px;
              white-space: nowrap;
            }
            span.value {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

body.desktop #tps div.tps {
  div.info {
    width: 70px;
  }
  div.sum {
    max-width: 405px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

body.tablet #tps div.tps {
  div.sum {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
