@import "../sizes";

#tps {
  margin-top: 20px;

  div.tps {
    display: flex;
    flex-direction: row;
    min-height: 120px;
    border-top: 1px solid #ccc;
    padding: 10px 0;

    @media #{$phone} {
      padding-top: 30px;
    }

    > * {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    div.info {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-right: 10px;
      width: 60px;

      display: flex;

      @media #{$desktop} {
        width: 70px;
      }

      p {
        margin: 0px;
      }
      p.tpsNo {
        font-size: 16px;
        font-weight: bold;
      }
      p.mod {
        font-size: 12px;
        margin-top: 10px;

        a span {
          display: block;
        }
      }
      p.link {
        font-size: 12px;
        margin-top: 10px;
      }
    }

    @media #{$phone} {
      div.info {
        float: left;
        position: absolute;
        margin-top: -30px;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        background: #ddd;
        height: 30px;
        box-sizing: border-box;

        p {
          margin-left: 5px;
          &.mod {
            margin: 0 0 0 10px;
            flex: 1;
            text-align: left;
            a span {
              display: inline;
            }
          }
          &.link {
            margin: 0 10px;
          }
        }
      }
    }

    div.sum {
      min-width: 120px;
      max-width: 200px;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      justify-content: center;

      @media #{$desktop} {
        max-width: 405px;
        padding-left: 20px;
        padding-right: 20px;
      }

      @media #{$tablet} {
        max-width: 300px;
        padding-left: 10px;
        padding-right: 10px;
      }

      @media #{$phone} {
        padding-left: 5px;
        padding-right: 5px;
      }

      &.nodata {
        width: 100%;
        max-width: 600px;
      }

      p.nodata {
        font-style: italic;
        font-size: 12px;
        text-align: center;
        margin: 0px;

        a {
          text-decoration: underline;
        }
      }

      div.values {
        flex: 1;

        ul {
          padding: 0px;
          margin: 0px;

          li {
            list-style: none;
            font-size: 12px;
            line-height: 25px;

            span {
              display: inline-block;
            }
          }
        }
        ul.summary {
          margin-top: 5px;
        }

        ul.pilpres {
          display: table;

          li {
            display: table-row;

            span {
              display: table-cell;
            }
            span {
              &.label {
                font-weight: bold;
              }
              &.label,
              &.value {
                padding-right: 10px;
              }
              &.value,
              &.kpu {
                text-align: right;
              }
            }

            &.diff {
              span {
                &.value,
                &.kpu {
                  color: red;
                }
              }
            }

            &.header {
              span {
                font-weight: bold;
              }
            }
          }
        }
        ul.pileg {
          display: flex;
          flex-flow: row wrap;

          li {
            display: flex;
            margin-right: 15px;

            span.label {
              font-weight: bold;
              width: 60px;
            }
            span.value {
              width: 25px;
              text-align: right;
            }
          }
        }
      }

      p.lapor {
        margin: 10px 0 0 0;
        font-size: 12px;
        text-align: center;

        &.kpu {
          color: red;
        }
        &.marked,
        &.kpu {
          max-width: 120px;
        }
      }
    }

    div.photos {
      flex: 1;

      display: flex;
      overflow-x: auto;

      div.photo {
        padding-right: 10px;
        background: white;

        p {
          margin: 0;
          text-align: center;
          border: 1px solid #ccc;
          padding: 2px;
        }
        ul.detail {
          margin: 0px;
          padding: 0px;
          display: table;
          font-size: 12px;
          li {
            list-style: none;
            display: table-row;
            line-height: 20px;
            span {
              display: table-cell;
            }
            span.label {
              font-weight: bold;
              padding-right: 10px;
              white-space: nowrap;
            }
            span.value {
              text-align: right;
            }
          }
        }
      }
    }

    &.pending {
      div.info {
        background: #ffcc80;
      }
    }
    &.janggal {
      div.sum {
        background: #ffcdd2;
      }
    }
  }
}
