<header>
    <a href="https://kawalpemilu.org/">
        <span><span class="nowrap">Kawal Pemilu</span> - <span class="nowrap">Jaga Suara 2019</span></span>
    </a>
</header>

<nav>
    <ul>
        <li><a target="_blank" href="https://kawalpemilu.org/tentang/">Tentang Kami</a></li>
        <li><a target="_blank" href="https://kawalpemilu.org/faq/">Pertanyaan Umum</a></li>
        <li><a target="_blank" href="https://kawalpemilu.org/visualisasi/">Visualisasi Data</a></li>
        <li><a target="_blank" class="bottom" href="https://kawalpemilu.org/privasi/">Kebijakan Privasi</a></li>
        <li><a target="_blank" class="bottom" href="https://kawalpemilu.org/disclaimer/">Disclaimer</a></li>
        <li><a target="_blank" class="bottom" href="https://kawalpemilu.org/kontak/">Kontak</a></li>
    </ul>
</nav>