<header>
    <a href="https://kawalpemilu.org/">
        <span><span class="nowrap">Kawal Pemilu</span> - <span class="nowrap">Jaga Suara 2019</span></span>
    </a>
</header>

<nav>
    <ul>
        <li><a href="/">Tabulasi</a></li>
        <li><a href="/tentang/">Tentang <span class="w3">Kami</span></a></li>
        <li><a href="/faq/">Pertanyaan <span class="w2">Umum</span></a></li>
        <li><a href="/visualisasi/">Visualisasi <span class="w1">Data</span></a></li>
        <li><a class="bottom" href="/privasi/">Kebijakan Privasi</a></li>
        <li><a class="bottom" href="/disclaimer/">Disclaimer</a></li>
        <li><a class="bottom" href="/kontak/">Kontak</a></li>
    </ul>
</nav>