<header class="container">
    <div class="global-header">
        <a href="https://kawalpemilu.org/" class="logo" alt="Beranda">
            <img class="logo" width="80" height="80" src="/assets/logo/logo-nav@2x.png">
            <div class="site-title">
                <h1 style="display:none">Kawal Pemilu</h1>
                <span style="display:none">Jaga Suara 2019</span>
                <img class="logo-kpjs" src="/assets/logo/logo-kpjs@2x.png" width="104" height="60"/>
            </div>
        </a>

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="sr">Menu utama</span>
            <span class="navicon" aria-hidden="true"></span>
        </label>

        <nav class="main-menu">
            <ul>
                <li class="{{activePage "tabulasi"}}"><a href="/">Tabulasi</a></li>
                <li class="{{activePage "tentang"}}"><a href="/tentang/">Tentang Kami</a></li>
                <li class="{{activePage "faq"}}"><a href="/faq/">Pertanyaan Umum</a></li>
                <li class="{{activePage "visualisasi"}}"><a href="/visualisasi/">Visualisasi Data</a></li>
            </ul>
        </nav>
    </div>
</header>
