<nav class="bottom">
    <ul>
        <li><a target="_blank" href="https://kawalpemilu.org/privasi/">Kebijakan Privasi</a></li>
        <li><a target="_blank" href="https://kawalpemilu.org/disclaimer/">Disclaimer</a></li>
        <li><a target="_blank" href="https://kawalpemilu.org/kontak/">Kontak</a></li>
    </ul>
</nav>
<footer>Kawal Pemilu - Jaga Suara 2019</footer>