<nav class="bottom">
    <ul>
        <li><a href="/privasi/">Kebijakan Privasi</a></li>
        <li><a href="/disclaimer/">Disclaimer</a></li>
        <li><a href="/kontak/">Kontak</a></li>
    </ul>
</nav>
<footer>Kawal Pemilu - Jaga Suara 2019</footer>