<footer class="container">
    <div class="global-footer">
        <nav class="secondary">
            <p>Kawal Pemilu - Jaga Suara 2019</p>
            <ul class="footer-menu">
                <li><a href="/privasi/">Kebijakan Privasi</a></li>
                <li><a href="/disclaimer/">Disclaimer</a></li>
            </ul>
        </nav>
        <nav class="social">
            <ul class="footer-menu">
                <li>
                    <a href="https://github.com/kawalpemilu/" target="_blank" rel="noopener">
                        <img src="/assets/github.svg" width="32" height="32" alt="Github" />
                    </a>
                </li>
                <li>
                  <a href="https://m.me/kawalpemilu.org" target="_blank" rel="noopener">
                    <img src="/assets/facebook.svg" width="32" height="32" alt="Facebook" />
                  </a>
                </li>
                <li>
                  <a href="https://mobile.twitter.com/messages/compose?recipient_id=2648297252" target="_blank" rel="noopener">
                    <img src="/assets/twitter.svg" width="32" height="32" alt="Facebook"/>
                  </a>
                </li>
                <li>
                  <a href="https://wa.me/6281180103636" target="_blank" rel="noopener">
                    <img src="/assets/whatsapp.svg" width="32" height="32" alt="Facebook"/>
                  </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
