<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    {{#if title}}
    <title>{{ title }} | KawalPemilu - Jaga Suara 2019</title>
    {{else}}
    <title>KawalPemilu - Jaga Suara 2019</title>
    {{/if}}

    {{> head-social.hbs }}
    {{> head-ga.hbs }}
    {{> tooltip.hbs }}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>

<body>

    {{> body-header.hbs }}

    <main class="container {{pageType}} {{name}}">
        <div class="skew"></div>
        <article>
            {{#> content}}
            {{/content}}
        </article>

    </main>

    {{> body-footer.hbs }}
    {{#> scripts}}
    {{/scripts}}
</body>

</html>
