{{#> _layout/static title="Disclaimer" name="disclaimer" }}
{{#*inline "content"}}

<h1>Disclaimer</h1>

<p><a href="https://kawalpemilu.org">KawalPemilu.org</a> merupakan situs yang digagas oleh
    relawan pro data yang menjunjung tinggi netralitas dan bukanlah merupakan situs
    dari kandidat manapun di Pemilu. Pilihan politik dari relawan merupakan hak
    individu dan adalah tanggung jawabnya masing-masing.</p>

<p>Pengumpulan dan penginputan data pada situs ini dilakukan dengan cara
    <em>crowd sourcing</em> atau gotong royong. Para relawannya merupakan entitas individu
    yang berlokasi di berbagai belahan dunia dan bekerja sama secara virtual.</p>

<p>Pada Pemilu 2019, KawalPemilu.org merupakan mitra dari
    <a href="https://netgrit.org" style="white-space: normal">Netgrit (Network for
        Democracy and Electoral Integrity)</a> dalam gerakan <strong>KawalPemilu - Jaga Suara
        2019</strong>. Kemitraan ini resmi <a href="/assets/Sertifikat-Pemantau.pdf"
        style="white-space: normal">terakreditasi oleh Bawalsu RI</a>. Selain dari
    kemitraan ini, situs KawalPemilu.org tidak terafiliasi dengan pihak manapun.</p>

<p>Foto yang digunakan relawan untuk tes upload foto pada situs ini sebelum Pemilu
    berlangsung merupakan milik relawan dan bisa saja memiliki hak cipta. Hak cipta
    foto tes tersebut sepenuhnya tanggung jawab peng-<em>upload</em>. Seluruh foto tes
    akan dihapus sepenuhnya dari situs pada tanggal 16 April 2019.</p>

<p>Pada saat pemilu berlangsung, foto yang masuk ke situs KawalPemilu.org adalah
    foto formulir C1 plano atau C1 salinan. Data dan foto formulir yang digunakan
    merupakan dokumen negara Republik Indonesia yang bersifat publik dan tunduk
    pada pasal 43 huruf b Undang-Undang Nomor 28 Tahun 2014 tentang Hak Cipta. Data
    tersebut merupakan data otentik yang ditampilkan pada halaman tabulasi situs
    KawalPemilu.org. Penggunaan kembali data tersebut oleh pengunjung situs, tunduk
    dan taat pada aturan hukum yang berlaku.</p>

<p>Semua informasi di situs KawalPemilu.org dipublikasikan dengan itikad baik dan
    hanya untuk tujuan informasi bagi publik dan adalah bukan merupakan hasil resmi
    dari penyelenggara Pemilu. KawalPemilu.org tidak memberikan jaminan tentang
    kelengkapan, keandalan, dan keakuratan data yang ada. Namun demikian kami akan
    tetap berupaya semaksimal mungkin mengecek akurasi foto-foto yang masuk dan
    data yang telah diverifikasi dengan cermat. Publik akan dapat melihat foto-foto
    yang telah divalidasi dan mencocokkan datanya dengan bukti foto yang mereka
    ambil di TPS masing-masing untuk verifikasi ulang.</p>

<p>Segala tindakan yang diambil atas informasi yang Anda temukan pada situs ini,
    sepenuhnya merupakan tanggung jawab Anda selaku individu. KawalPemilu.org tidak
    bertanggung jawab atas kerugian dan/atau kerusakan yang mungkin timbul
    sehubungan dengan penggunaan data yang telah dan akan diambil dari situs ini.</p>

<ul class="lampiran">
    <li><a href="/assets/Sertifikat-Pemantau.pdf">Sertifikat akreditasi Bawaslu RI</a></li>
</ul>
{{/inline}}
{{/_layout/static}}