{{#> _layout/page pageType="tabulasi" name="tabulasi" }}
{{#*inline "content"}}

<h1>Hasil Tabulasi Data <span class="nowrap">Kawal Pemilu 2019</span></h1>

{{!-- <p>Halaman ini berisi hasil tabulasi dari data yang sudah masuk ke
            <a target="_blank" href="https://upload.kawalpemilu.org">upload.kawalpemilu.org</a>.</p> --}}

{{!-- <p>Data TPS kamu belum ada? Segera upload ke
    <a target="_blank" href="https://upload.kawalpemilu.org">upload.kawalpemilu.org</a>!
</p> --}}

<div class="pengumuman">
    <p>
        Data pada halaman ini sudah <strong>final</strong> dan
        tidak akan diperbarui lagi.
    </p>
</div>

<div id="navigasi"></div>
<div id="agg" class="table"></div>
<div id="tps" class="table"></div>

{{/inline}}
{{/_layout/page}}
