{{#> _layout/static title="Jenis/Peran Pengunjung" name="roles" }}
{{#*inline "content"}}

<h1>Jenis/Peran Pengunjung</h1>

<p>Pengunjung situs Kawal Pemilu dikelompokkan menjadi <strong>tiga</strong> jenis peran:</p>

<ol>
    <li>
        <p><strong>Publik</strong> adalah pengunjung laman utama
            <a href="https://kawalpemilu.org">kawalpemilu.org</a> yang tidak melakukan
            login via Facebook. Pengunjung publik hanya bisa melihat hasil tabulasi tapi
            tidak bisa meng-<em>upload</em> foto C1 plano. Kunjungi
            <a href="https://upload.kawalpemilu.org">upload.kawalpemilu.org</a> untuk meng-<em>upload</em>
            foto C1 plano dari TPS kamu.</p>
    </li>
    <li>
        <p><strong>Relawan</strong> adalah pengunjung yang sudah terdaftar di situs
            <a href="https://upload.kawalpemilu.org">upload.kawalpemilu.org</a> dan dapat melakukan
            hal berikut:</p>

        <ul>
            <li>
                <p>Meng-<em>upload</em> foto C1 plano dari TPS atau kantor kelurahan/desa.
                    Relawan dapat meng-upload banyak foto per TPS dan boleh mengawal lebih
                    dari satu TPS.</p>
            </li>
            <li>
                <p>Melaporkan masalah atau kesalahan pada foto yang terlihat.</p>
            </li>
        </ul>
    </li>
    <li>
        <p><strong>Moderator</strong>. Selain dapat melakukan semua peran sebagai Relawan, seorang
            Moderator juga dapat:</p>

        <ul>
            <li>
                <p>Menerima atau menolak foto yang di-upload oleh Relawan berdasarkan
                    kriteria-kriteria yang meliputi kualitas foto dan apakah syarat-syarat
                    keaslian foto tersebut terpenuhi.</p>
            </li>
            <liuuu>
                <p>Memasukkan angka (digitisasi) foto yang di-<em>upload</em>.</p>
            </li>
        </ul>
    </li>
</ol>

{{/inline}}
{{/_layout/static}}