{{#> _layout/static title="Tentang Kawal Pemilu" name="tentang" }}
{{#*inline "content"}}

<h1>Tentang Kawal Pemilu</h1>

<p>Kawal Pemilu adalah proyek urun daya (<em>crowdsourcing</em>) netizen pro data
    Indonesia yang didirikan tahun 2014 untuk menjaga suara rakyat di Pemilihan
    Umum melalui penggunaan teknologi untuk melakukan <em>real count</em> secara cepat dan
    akurat.</p>

<p>Pada Pemilu 2019, KawalPemilu.org merupakan mitra dari
    <a href="https://netgrit.org" style="white-space: normal">Netgrit (Network for
        Democracy and Electoral Integrity)</a> dalam gerakan <strong>KawalPemilu - Jaga Suara
        2019</strong>. Kemitraan ini resmi <a href="/assets/Sertifikat-Pemantau.pdf"
        style="white-space: normal">terakreditasi oleh Bawalsu RI</a>. Selain dari
    kemitraan ini, situs KawalPemilu.org tidak terafiliasi dengan pihak manapun.</p>


<ul class="lampiran">
    <li><a href="/assets/Sertifikat-Pemantau.pdf">Sertifikat akreditasi Bawaslu RI</a></li>
</ul>

{{/inline}}
{{/_layout/static}}
